<div class="header">
  <a href="#default" class="logo">space x launch programs</a>  
</div>
<div class="article-container">
  
  <!--side menu-->
  <div class="side-menu">
   <h4>Filters</h4>
   <h5 class="cen">Launch Year</h5>
   <hr>
   <div class="flexdis" *ngFor="let year of yearsArray;let i = index; let even = even;let last = last">
  <span class="spanwidth" *ngIf="even"><button class="button"  [ngClass]="{ 'selected': yearsArray[i].selected == true }" (click)="clickYear(i)">{{yearsArray[i].year}}</button></span>
  <span  class="spanwidth" *ngIf="even && yearsArray[i+1]"><button [ngClass]="{ 'selected': yearsArray[i+1].selected == true }" class="button" (click)="clickYear(i+1)">{{yearsArray[i+1].year}}</button></span>  
  </div>
  

  <div class="cen" *ngFor="let launch of launchArray;let i = index;">
    <h5 class="cen">{{launch.tag}}<hr></h5>
    
    <span  *ngFor="let btn of launch.btnArr;let j = index;">
      <button [ngClass]="{ 'selected': btn.selected == true }" class="button" (click)="clickLaunch(i,j)">{{btn.lbl}}</button>
    </span>
     
    </div>

  
  </div>
  <!--side menu-->
 
  <!--body-->
  <div class="body-area">
   <!--card-->
   <div class="card" *ngFor="let space of spaceData">
    <a href="{{space.links.article_link}}" target="_blank">
   <img class="imgclass" height="196px" width="385px" src="{{space.links.mission_patch}}">
    <div class="container">
      <h4 class="colorClass"><b>{{space.mission_name}} #{{space.flight_number}}</b></h4> 
      <p class="classBlack"><b>Mission Ids</b></p> 
      <ul>
        <ng-container *ngFor="let item of space.mission_id"> <li>{{item}}</li></ng-container>
       
      </ul>
      <p ><b class="classBlack">Launch Year :</b> {{space.launch_year}}</p> 
      <p ><b class="classBlack">Successful Launch :</b> {{space.launch_success}}</p> 
      <p ><b class="classBlack">Successful Landing :</b> {{space.launch_landing}}</p> 
    </div>
    </a>
    <h5 *ngIf="spaceData.length==0">No Records Found</h5>
  </div>
   <!--card-->
  </div>
  <!--body-->
  <router-outlet></router-outlet>
  </div>
  
